@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px');
*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 1.2em;
}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  border-bottom:1px solid #eaeaea;
}

h2{
  background: #444;
  color:#fff;
}

canvas{
  /* max-width: 600px; */
  margin: 1em auto 0 auto;
  border:1px solid #999;
}

.chart-container{
  width:100%;
  height:370px;
}

.canvasjs-chart-credit{
  display:none;
}

canvas.big {
  max-width: 800px;
}
.page{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width:900px) {
  .page{
    max-width: 95vw;
  }
}

p, ul{
  text-align: left;
}

img {
  width: 100%;
  max-width:600px;
  margin: 0 auto;
}

table{
  margin:0 auto;
  max-width:100%;
  overflow:scroll;
  font-size:0.9em;
}

table, tr, td {
  border:1px solid #aaa;
}

footer {
  margin-top:2em;
  font-size:0.8em;
  background:#eaeaea;
  color:#333;
  padding:1em;
  text-align: left;
}

.commentary{
  margin:1em 0;
  background: #eaeaea;
  padding: 1em;
  font-style: italic;
  font-size:0.9em;
}